# Django
SECRET_KEY=

DEBUG=False
DJANGO_SETTINGS_MODULE=Lab_Aide.settings.prod

# Hosts
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=

# Postgres
POSTGRES_DB=labaide
POSTGRES_USER=labaide
POSTGRES_PASSWORD=

DATABASE_URL=
