# Django
SECRET_KEY="gphfmo^ao2n_45tcyrad__%65bn)q7_vk@0kos0a5c$9eu*9p_"
DEBUG=False
DJANGO_SETTINGS_MODULE=Lab_Aide.settings.prod

# Hosts
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
CSRF_TRUSTED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com

# Postgres
POSTGRES_DB=labaide
POSTGRES_USER=labaide
POSTGRES_PASSWORD=change-me-strong
DATABASE_URL=postgres://labaide:change-me-strong@db:5432/labaide
